<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= asset_path 'application.css' %>">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 50px auto;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    label {
      margin-bottom: 5px;
      font-weight: bold;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      margin-bottom: 15px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }
    .btn {
      display: inline-block;
      padding: 10px 15px;
      font-size: 16px;
      color: #fff;
      background-color: #007bff;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      margin-top: 10px;
    }
    .btn:hover {
      background-color: #0056b3;
    }
    .actions {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Edit User</h1>
    <%= form_with model: @user, local: true do |f| %>
      <div>
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
      <div class="actions">
        <%= f.submit 'Guardar Cambios', class: 'btn' %>
        <%= link_to 'Cancelar', user_path(@user), class: 'btn' %>
      </div>
    <% end %>
  </div>
</body>
</html>

